<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='static/stylesheets/master.css'>
    <link rel='icon' href='static/images/icon.ico'>
    <title>Page Not Found</title>
  </head>

  <body>

    <div>
      <h1><a href="{{ url_for('index') }}">Pipe Network Tables</a></h1>
    </div>

    <a href="{{ url_for('index') }}">
      <img class='error-image' src='static/images/error.png'>
    </a>

    <div>
      <p class='error'>Page not found.<br />Click above to return home.</p>
    </div>

  </body>

</html>
